.avatar {
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
  width: 45px;
  height: 45px;
}

.chat {
  width: 100%;
  font-family: "微软雅黑 Light";
  font-size: 15px;
  background-size: contain;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.box {
  border: 2px solid;
  border-radius: 10px;
  padding: 2px;
  overflow-y: auto;
  box-shadow: 0 0 0 10px white;
}