<div class="card">
    <div class="card-header">
        教师: {{classroomName}}
    </div>
    <div style="display: flex; flex-direction:row;">
        <!-- <button @click="videoSwitch">视频开关</button> -->
        <!-- <button @click="displaySwitch">屏幕开关</button> -->
        <!-- <video class="display_preview" style="display: block; width:840px" autoplay ref="display_preview"></video> -->
        <button @click="pushRTMP">推流开关(can't)</button>
        <video style="display: block; width:360px" autoplay ref="local_preview"></video>
        <video style="display: block; width:360px" autoplay ref="remote_preview"></video>
    </div>
    <client-list ref="client_list"></client-list>
</div>